body {
    background-color: beige;
}
h1 {
    color : cornflowerblue;
} 
bye {
    color : coral;
} 
bye2 {
    color : rgb(19, 65, 151);
} 
.clickedClass{
    color : tomato;
    transition:color .5s ease-in-out;
}